name: CI
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.x, 22.x, 20.x, 18.x]

    env:
      CI: true

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test
    
      - name: Build
        run: npm run build

      - name: Run benchmark
        run: node benchmark.js | tee output.txt
        env:
          NODE_ENV: production

      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          tool: 'benchmarkjs'
          output-file-path: output.txt
          comment-on-alert: true
          save-data-file: ${{ github.ref == 'refs/heads/main' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
